<footer class="bg-dark text-white mt-4">
        <div class="container py-4">
            <div class="row">
                <div class="col-md-3">
                    <h5>Über uns</h5>
                    <p>Wir bieten die besten Reiseangebote und maßgeschneiderte Pakete für Ihre Traumreise.</p>
                </div>
                <div class="col-md-3">
                    <h5>Kontakt</h5>
                    <ul class="list-unstyled">
                        <li>Email: info@reisewebseite.com</li>
                        <li>Telefon: +49 123 456 789</li>
                        <li>Adresse: Musterstraße 1, 12345 Berlin</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Home</a></li>
                        <li><a href="#" class="text-white">Angebote</a></li>
                        <li><a href="#" class="text-white">Reiseziele</a></li>
                        <li><a href="#" class="text-white">Kontakt</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Folgen Sie uns</h5>
                    <a href="#" class="text-white mr-2"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white mr-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white mr-2"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white mr-2"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="bg-secondary text-center py-2">
            <p class="mb-0">&copy; 2024 Reise-Webseite. Alle Rechte vorbehalten.</p>
        </div>
    </footer>